@import url('https://fonts.googleapis.com/css2?family=Macondo+Swash+Caps&family=Montserrat:wght@300;400;500;700;900&display=swap');
@import "tailwindcss";
@import '../node_modules/@xterm/xterm/css/xterm.css';

:root {
  --bg: #20141f;
  --card: #300a2e;
  --accent: #fd87f6;
  --input-bg: #61475f;
  --input-placeholder: #876f86;
}

* { box-sizing: border-box; }

body {
  background: var(--bg);
  color: white;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.font-title { font-family: 'Macondo Swash Caps', serif; }
